<h4>Mis pedidos</h4>
<p>Recuerde mantener Orden y Calidad!</p>
<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
         width="100%">
    <thead>
      <tr>
        <th scope="col">Plato</th>
        <th scope="col">Pedido</th>
        <th scope="col">Tiempo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
      <tr>
       
        <td>Dato de DB</td>
        <td>Dato de DB</td>
        <td>Dato de DB</td>
        <td><button type="submit" class="btn btn-primary mb-2">Terminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
