<h4>Crear Plato</h4>
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Nombre del plato</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Pinto, Chiverre, Ensalada Verde, etc...">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Descripcion</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="ensalada de tomate, lechuga, limon y sal...">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Crear</button>
    </div>
  </div>
</form>
