<h4>Crear Plato</h4>
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="DishPrice">Nombre del plato</label>
      <input type="text" class="form-control mb-2" id="DishName" placeholder="Pinto, Chiverre, Ensalada Verde, etc...">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="DishPrice">Descripcion</label>
      <input type="text" class="form-control mb-2" id="DishDescription" placeholder="ensalada de tomate, lechuga, limon y sal...">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="DishPrice">Price</label>
      <input type="text" class="form-control mb-2" id="DishPrice" placeholder="0">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" (click)="this.addDish('Pinto', 'Pinto acachete', 800)">Crear</button>
    </div>
  </div>
</form>
