<h4>Productos actuales</h4>
<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
  width="100%">
    <thead>
      <tr>
        <!--Plato
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        Menu-->
        <th scope="col">Plato</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Calorias</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
      <tr>
        <!--<td><input type="text" class="form-control mb-2" id="a" placeholder="se obtiene de BS"></td>
  <td><input type="text" class="form-control mb-2" id="a" placeholder="se obtiene de BS"></td>-->
        <td><input type="text" class="form-control mb-2" id="a" placeholder="Dato de BS"></td>
        <td><input type="text" class="form-control mb-2" id="a" placeholder="Dato de BS"></td>
        <td><input type="text" class="form-control mb-2" id="a" placeholder="Dato de BS"></td>
        <td><input type="text" class="form-control mb-2" id="a" placeholder="Dato de BS"></td>
        <td><button type="submit" class="btn btn-primary mb-2">Actualizar</button></td>
      </tr>
    </tbody>
  </table>
</div>
