<h4>Solicitudes de Pedidos</h4>
<p>Otros Chef te quieren ayudar!</p>
<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
         width="100%">
    <thead>
      <tr>
        <th scope="col">Pedido</th>
        <th scope="col">Chef</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
      <tr>

        <td>Dato de DB</td>
        <td>Dato de DB</td>
        <td><button type="submit" class="btn btn-success mb-2">Aceptar</button></td>
        <td><button type="submit" class="btn btn-danger mb-2">Rechazar</button></td>
      </tr>
    </tbody>
  </table>
</div>
