<h4>Crear Menu</h4>
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Nombre del Plato</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Pinto, Chiverre, Ensalada Verde, etc...">
    </div>
  
    <div>
      <label class="sr-only" for="tipoDePlatot">Tipo de plato</label>
      <select class="form-control form-control-sm" id="tipoDePlato">
        <option>Desayuno</option>
        <option>Almuerzo</option>
        <option>Cafe</option>
        <option>Cena</option>
        <option>Merienda</option>
      </select>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Precio</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Colones">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Calorias</label>
        <div>
          <span class="text-muted">Dato DB</span>
        </div>
        <p></p>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Crear</button>
    </div>
  </div>
</form>
